/**********************************
    GLOBAL & VARS
*******************************/
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --globalLightPink: #e583b4;
    --globalDarkPink: #dd74a8;
    --globalDarkestPink: rgb(194, 65, 129);

    --lightTxtColor: #ffffff;
    --darkTxtColor: #000000;

    --layoutDarkPink1: #d9a0e5;
    --layoutDarkPink2: #c785d4;
    --layoutDarkPink3: #5c2468;
    --layoutLightPink: #ffe5fc;
    --layoutBgColor: #f5c9ef;

    --h2FontSize: 2.2rem;
    --subTitlesFntSize: 2rem;
    --longerSubttlesFntSize: 1.5rem;
    --txtContentFntSize: 1.3rem;
}

body {
    font-family: "Sour Gummy", serif;
    font-weight: 300;
    font-optical-sizing: auto;
    background-color: #fae0f7;
    color: var(--darkTxtColor);
}

body>a {
    color: black;
    position: absolute;
    left: -100%;
}

body>a:focus {
    z-index: 100;
    background-color: red;
    left: 0;
}

main {
    margin-top: 4.6rem;
}

* {
    padding: 0;
    margin: 0;
}

button {
    border: none;
    background-color: transparent;
}

.skeletonAnimation {
    animation: skeletonFlick 1.5s infinite linear;
}

@keyframes skeletonFlick {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}



/**********************************
    HEADER
*******************************/

.header {
    background-color: var(--layoutBgColor);
    border-bottom: 0.3rem solid var(--layoutDarkPink1);
    font-size: 1.6rem;

    display: flex;
    justify-content: space-between;
    height: 4.54rem;

    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
    padding: 0 1rem;
}

.header img{
    width: 90px;
    height: 65px;
}

.header--fixed {
    position: fixed;
}

.header_logo_link {
    display: inline-block;
}

.header_menuBtn {
    display: none;
}

.header_menuSVG {
    display: none;
    width: 3rem;
    color: var(--layoutDarkPink3);
}

.header_nav * {
    list-style: none;
    text-decoration: none;
    color: var(--darkTxtColor);
    text-align: center;
}

.header_nav {
    display: flex;
    align-items: center;
    top: 12.1%;
}

.header_nav_menu {
    display: flex;
    gap: 1rem;
}

.header_nav a {
    background: var(--layoutLightPink);
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 0.7rem;
    border-radius: 3rem;
}

.header_nav_menu_item:hover a,
.header_nav_menu_item--extended a,
.header_nav_menu_item a:focus {
    background-color: var(--layoutDarkPink1);
}

.header_nav_menu_item {
    position: relative;
}

.header_nav_menu_item--extended a {
    border-radius: 2rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.header_nav_menu_item_subMenu {
    position: absolute;
    display: none;
}

.header_nav_menu_item_subMenu a {
    font-size: 85%;
    padding: 0.5rem 0.7rem;
}

.header_nav_menu_item_subMenu--visible>li:hover a,
.header_nav_menu_item_subMenu--visible a:focus {
    background-color: var(--layoutDarkPink2);
}

.header_nav_menu_item_subMenu--visible {
    display: block;
}

.header_nav_menu_item_subMenu--visible a {
    border-radius: 0;
}

.header_nav_menu_item_subMenu--visible>li:last-of-type a {
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.header_navBg {
    position: fixed;
    background-color: #180044a1;
    top: 10.7%;
    bottom: 0;
    right: 0;
    left: 100%;
    transition: all 0.5s;
}

.header_navBg--visible {
    left: 0;
}

.header_closedMenu {
    width: 3rem;
    height: 3rem;
    display: none;
    position: relative;
    rotate: 45deg;
}

.header_closedMenu::after,
.header_closedMenu::before {
    content: '';
    position: absolute;
    background-color: var(--layoutDarkPink3);
}

.header_closedMenu::after {
    left: 50%;
    width: 13%;
    height: 100%;
    transform: translateX(-50%);
}

.header_closedMenu::before {
    top: 50%;
    transform: translate(-50%, -50%);
    height: 13%;
    width: 100%;
}

@media (width < 600px) {
    .header_nav {
        top: 10.7%;
        visibility: hidden;
        overflow: hidden;
        position: fixed;
        z-index: 1;
        right: -100%;
        background-color: #f5c9ef;
        margin: 0;
        height: 100vh;
        width: 45vw;
        transition: all 0.5s;
    }

    .header_nav--visible {
        visibility: visible;
        right: 0;
    }

    .header_menuSVG,
    .header_menuBtn {
        display: block;
    }

    .header_nav_menu {
        flex-direction: column;
        width: 100%;
        gap: 0;
        margin-bottom: auto;
    }

    .header_nav_menu a {
        border-radius: 0;
        background: transparent;
        border-bottom: 0.1rem solid;
    }

    .header_nav_menu_item_subMenu {
        width: 100%;
    }

    .header_nav_menu_item_subMenu>li:last-of-type a {
        border-radius: 0;
    }
}


/**********************************
    MAIN
*******************************/

.welcomeCont {
    background-color: #fef1de;
    display: flex;
    height: 19rem;
  
    --mask: radial-gradient(56.6px at 50% calc(100% - 78px), #000 99%, #0000 101%) calc(50% - 60px) 0/120px 100%,
      radial-gradient(56.6px at 50% calc(100% + 48px), #0000 99%, #000 101%) 50% calc(100% - 30px) / 120px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
  }
  
  .welcomeCont_img {
    width: clamp(9rem, 27vw, 37rem);
    object-fit: cover;
    object-position: -31px;
    height: clamp(25rem, 22vw, 42rem);
    margin-left: auto;
  }
  
  .welcomeCont_txt {
    text-align: center;
    width: clamp(15rem, 67vw, 31rem);
    font-size: clamp(3rem, 12vw, 5.1rem);
    font-weight: 500;
    color: #4d1b12;
    line-height: 5rem;
  }
  
  .fullCateogriesCont {
    margin: 0 auto;
  }
  
  .mainPadding {
    width: clamp(15rem, 100%, 88rem);
    margin: 0 auto;
  }
  
  @media (width >= 1000px) {
    .mainPadding {
      box-sizing: border-box;
      padding: 0 2rem;
    }
  
    .welcomeCont_img {
      object-position: 0;
    }
  
    .welcomeCont_txt {
      margin-left: clamp(1rem, 7vw, 6rem);
    }
  }
  
  @media (width <550px) {
    .welcomeCont_txt {
      line-height: 4rem;
      margin: auto auto 5rem auto;
    }
  
    .welcomeCont_img {
      display: none;
    }
  }


  /**********************************
    CATEGORIES
*******************************/

  .categoriesSctn {
  text-align: center;
}

.categoriesSctn > h2 {
  margin: 1rem;
  margin-bottom: 1.5rem;
  font-size: var(--h2FontSize);
}

.categoriesSctn_categoriesCont {
  display: flex;
  justify-content: space-between;
  color: var(--lightTxtColor);
}

.categoriesSctn_btn {
  font-size: var(--txtContentFntSize);
  padding: clamp(0.1rem, 1.5vw, 1.5rem);
  border-top-left-radius: 6rem;
  border-top-right-radius: 6rem;
  font-family: inherit;
  cursor: pointer;
  text-decoration: none;
}

.categoriesSctn_btn--selected {
  background-color: var(--globalDarkPink);
}

/* .categoriesSctn_btn_img--skeleton {
  background-color: var(--globalDarkPink);
  height: clamp(7.5rem, 20vw, 10rem);
  width: clamp(7.5rem, 20vw, 10rem);
  border-radius: 50%;
}

.categoriesSctn_btn_title--skeleton {
  width: 100%;
  border-radius: 2rem;
  height: 3rem;
  margin: 1rem 0;
  background-color: var(--globalDarkPink);
  composes: skeletonAnimation from global;
} */

.categoriesSctn_btn_img {
  border-radius: 50%;
  width: clamp(4rem, 20vw, 10rem);
  height: clamp(4rem, 20vw, 10rem);
  object-fit: cover;
}

.categoriesSctn_btn_title {
  background-color: var(--globalDarkestPink);
  border-radius: 1rem;
  padding: 0.5rem;
  color: var(--lightTxtColor);
}

@media (width < 500px) {
  .categoriesSctn_btn--selected {
    background-color: transparent;
  }

  .categoriesSctn_btn--selected p {
    color: var(--globalDarkPink);
    font-weight: bold;
    background-color: var(--lightTxtColor);
  }

  .categoriesSctn_categoriesCont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}



  /**********************************
    RECIPES
*******************************/
.recipesCont,
.recipesCont--leftBrdr,
.recipesCont--rightBrdr {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--globalDarkPink);
  color: var(--darkTxtColor);
  padding: 1rem;
  border-radius: 2rem;
}

.recipesCont--rightBrdr {
  border-top-left-radius: 0;
}

.recipesCont--leftBrdr {
  border-top-right-radius: 0;
}

.recipesCont_recipe {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--globalLightPink);
  border-radius: 2rem;
  padding: 1rem 0;
}

/* .recipesCont--skeleton {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--globalDarkPink);
  width: min(100%, 90rem);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  composes: skeletonAnimation from global;
}

.recipesCont_recipe--skeleton {
  width: 92%;
  border-radius: 2rem;
  height: 40rem;
  background-color: var(--globalLightPink);
  margin: 0 auto;
  composes: skeletonAnimation from global;
} */

.recipesCont_recipe_img {
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1/1;
  margin: auto 0;
  width: 200px;
  height: 200px;
}

.recipesCont_recipe_info {
  text-align: left;
  font-size: var(--txtContentFntSize);
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
}

.recipesCont_recipe_info h3 {
  text-align: center;
  font-size: var(--subTitlesFntSize);
  margin: 1.5rem 0;
  background-color: var(--globalDarkestPink);
  color: var(--lightTxtColor);
  padding: 1rem;
  border-radius: 2rem;
  margin: 1rem auto;
}

.recipesCont_recipe_aditionalInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: var(--txtContentFntSize);
}

.recipesCont_recipe_aditionalInfo_clock {
  width: 7rem;
}

.recipesCont_recipe_aditionalInfo_starsCont {
  display: flex;
  gap: 0.5rem;
}

.recipesCont_recipe_aditionalInfo_starsCont_star {
  width: 2rem;
}

.recipesCont_btnsCont {
  display: flex;
  justify-content: center;
  gap: 0.2rem;
}

.recipesCont_btnsCont_btn {
  padding: 0.5rem 1rem;
  color: currentColor;
  text-decoration: none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  border: 0.15rem solid;
}

.recipesCont_btnsCont_btn--selected {
  background-color: white;
  color: var(--globalDarkestPink);
}

@media (width >=1000px) {
  .recipesCont_recipe {
    flex-wrap: nowrap;
    padding: 1rem;
  }

  .recipesCont_recipe_aditionalInfo {
    order: 3;
    justify-content: center;
    gap: 2rem;
  }
}


  /**********************************
    SINGLE RECIPE
*******************************/


.section {
  margin: 5rem 0;
}

.section_h2 {
  text-align: center;
  margin: 1rem;
  font-size: var(--h2FontSize);
}

.section_recipe {
  color: var(--lightTxtColor);
  display: flex;
  flex-wrap: wrap;
  background-color: var(--globalDarkPink);
  position: relative;
}

.section_recipe_img {
  width: 100%;
  height: auto;
}

.section_recipe_info {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: var(--txtContentFntSize);
  background-color: var(--globalDarkPink);
}

.section_recipe_info_title {
  font-size: var(--subTitlesFntSize);
  color: var(--lightTxtColor);
  margin: 0.5rem auto;
  background-color: var(--globalDarkestPink);
  padding: 0.8rem 2rem;
  border-radius: 1.5rem;
}

.section_recipe_info_steps {
  background-color: var(--globalLightPink);
  color: var(--darkTxtColor);
  padding: 2rem;
  border-radius: 2rem;
}

@media (width >= 700px) {
  .section_recipe_img {
    width: 40vw;
    object-fit: cover;
  }

  .section_recipe {
    background: transparent;
    flex-wrap: nowrap;
  }
}

@media (width >= 1140px) {
  .section_recipe_info {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    padding: 1rem;
  }

  .section_recipe_img {
    width: clamp(25rem, 50vw, 45rem);
  }

  .section_recipe {
    background-color: transparent;
    padding: 0 2rem;
  }

  .section_recipe_info_title {
    margin: 0 auto 1rem auto;
  }

  .section_h2 {
    margin: 2.5rem 1rem 2rem 1rem;
  }
}

/***************************
    SPONSOR
****************************/


.section_h2 {
  font-size: var(--h2FontSize);
  text-align: center;
  margin: 2rem;
}

.section_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  color: var(--lightTxtColor);
}

.section_grid_elmnt {
  background-color: var(--globalDarkPink);
  opacity: 1;
  text-decoration: none;
}

.section_h2--skeleton {
  background-color: var(--globalLightPink);
  border-radius: 2rem;
  height: 5rem;
  width: min(100%, 30rem);
  margin: 2.5rem auto;
  composes: skeletonAnimation from global;
}

.section_grid_elmnt--skeleton {
  height: 15.5rem;
  background-color: var(--globalLightPink);
  composes: skeletonAnimation from global;
}

.section_grid_elmnt_img {
  width: 100%;
  height: 11rem;
  object-fit: cover;
}

.section_grid_elmnt_recipeCont {
  font-size: var(--txtContentFntSize);
  position: relative;
}

.section_grid_elmnt_recipeCont_title {
  text-align: center;
  font-size: 1.5rem;
  font-family: inherit;
  font-weight: bold;
  background-color: var(--globalDarkestPink);
  color: var(--lightTxtColor);
  padding: 1rem 0;
  margin: 1rem auto;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
}

.section_grid_elmnt_recipeCont_title_linkSVG {
  width: 2rem;
  margin-left: 1rem;
}

/************************
    FAQ
*****************************/

.faqSctn {
  font-size: var(--txtContentFntSize);
}

.faqSctn_h2 {
  font-size: var(--h2FontSize);
  text-align: center;
  margin: 2rem;
}

.faqSctn_h2--skeleton {
  width: min(85vw, 52rem);
  height: 4rem;
  border-radius: 3rem;
  background-color: var(--globalLightPink);
  margin: 2rem auto;
  composes: skeletonAnimation from global;
}

.faqSctn_questionCont {
  color: var(--darkTxtColor);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.4rem;
}

.faqSctn_questionCont_details {
  padding: 0.6rem;
  border: 0.2rem solid var(--globalLightPink);
  border-radius: 2rem;
  width: 100%;
}

.faqSctn_questionCont_details--skeleton {
  width: min(100%, 80rem);
  height: 6.5rem;
  margin: 1rem auto;
  border-radius: 3rem;
  background-color: var(--globalLightPink);
  composes: skeletonAnimation from global;
}

.faqSctn_questionCont_summ {
  padding: 0.6rem;
  font-size: var(--longerSubttlesFntSize);
  cursor: pointer;
}

.faqSctn_questionCont_p {
  border-radius: 2rem;
  padding: 1rem;
  color: var(--darkTxtColor);
}


/************************
    FOOTER
*****************************/

.footer {
  border-top: 0.3rem solid var(--layoutDarkPink1);
  background-color: var(--layoutBgColor);
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  font-size: var(--txtContentFntSize);
  color: var(--lightTxtColor);
  padding: 1rem 0 0 0;
  color: var(--darkTxtColor);
}

.footer svg {
  width: 1.5rem;
  float: left;
}

.footer_infoCont {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer_infoCont_sectn {
  width: 14rem;
}

.footer_infoCont_sectn h2 {
  font-size: var(--subTitlesFntSize);
  text-align: center;
  background-color: var(--layoutLightPink);
  padding: 0.5rem;
  border-radius: 2rem;
  margin: 1rem 0 1.5rem 0;
}

.footer_infoCont_sectn_division {
  display: block;
}

.footer_infoCont_sectn_division a {
  display: flex;
  word-break: break-word;
  margin: 2rem;
}